.u-section-1 .u-sheet-1 {
  min-height: 647px;
}

.u-section-1 .u-image-1 {
  width: 772px;
  height: 716px;
  margin: 60px 143px 0 auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 668px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 501px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 315px;
  }
}