.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 895px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  min-height: 483px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin: 0 auto 40px 0;
}

.u-section-2 .u-list-item-1 {
  width: 373px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 199px;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 115px auto 0 33px;
}

.u-section-2 .u-text-2 {
  margin: 55px 0 0;
}

.u-section-2 .u-list-item-2 {
  width: 373px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 300px;
  height: 199px;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 115px auto 0 33px;
}

.u-section-2 .u-text-4 {
  margin: 55px 0 0;
}

.u-section-2 .u-list-item-3 {
  width: 373px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 300px;
  height: 199px;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 115px auto 0 33px;
}

.u-section-2 .u-text-6 {
  margin: 55px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    min-height: 398px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    min-height: 915px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 37px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 37px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 609px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 609px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 516px;
  height: 516px;
  background-image: url("images/racio.png");
  background-position: 50% 50%;
  margin: 0 auto 0 -6px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 609px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 67px 137px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 59px -14px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 410px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 110px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -11px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 80px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -8px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 139px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 86px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -9px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 407px;
}

.u-section-4 .u-text-1 {
  width: 680px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}